body{
    height:100vh;
}
.container{
    height:100%;
}
.container-fluid{
    height: inherit;
    padding: 0px;
}
.col-4{
    border: 1px #ccc solid;
    width: 100%;
    height: 33%;
    height: calc(100%/3);
    text-align: center;
    align-items: center;
}

.col-4:hover{
    border: 1px #ccc solid;
    width: 100%;
    height: 33.33333%;
    height: calc(100%/3);
    background-color: black;
}

.row{
    height: inherit;
}

.toe-box{
    /* border: 1px #ccc solid; */
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
}

.message{
    text-align: center;
}
/* .grid-container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}

.square{
    border: 1px #ccc solid;
    display:box;
    flex-basis: 30%;
}

.square::after{
    content: '';
    display: block;
    padding-bottom: 100%;
} */